*{
    padding: 0;
    margin: 0;
    
}

.bg {
    background-color: darkgray;
    background-size: cover;
    
}

.container {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header>p {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

header>ul {
    display: flex;
}

header>ul>li{
    list-style-type: none;
    margin-left: 1.5rem;
}

header>ul>li>a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 5px;
    color: white;
}

header>ul>li:first-child>a{
    border-bottom: 5px solid black;
}

header>ul>li>a:hover{
    border-bottom: 5px solid gray;
}

section{
    padding: 0 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

section>p:first-child {
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

section>p:last-of-type {
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    
}

section>p>a {
    display: block;
    border: 1px solid gray;
    width: 130px;
    color: white;
    background-color: gray;
    font-size: 1.3rem;
    font-weight: 600;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}

section>p>a:hover{
    display: block;
    border: 1px solid white;
    
}